table.problems {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ffffff;
    color: #656665;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 20px;
    width: 40%;
    margin: 0 auto;
}

table.problems input {
    width: 90%;
    height: 50px;
    background: rgba(230, 230, 230, 0.25);
    font-size: 14px;
    margin: 20px;
    border-radius: 5px;
}

table.news {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ffffff;
    color: #656665;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}

th {
    font-size: 18px;
    padding: 10px;
}
.semi {
    opacity: 0.5;
}
